<!-- #region GRID-TYPE CARD (e.g. Ag-Grid, Angular DataTable, Prime NG etc.) -->
<div class="card m-4">
    <div class="card-body px-lg-5 pt-0">
        <div class="row ">
            <div class="col-md-12">
                <div class="row mt-3">
                    <div class="col-md-4 text-center">
                        <a routerLink="ag-Grid" class="pointer {{ defaultService.routerLinkActive }}">+
                            Ag-Grid</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a routerLink="angular-datatable" routerLinkActive="active" class="pointer">+ Angular
                            DataTable</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a routerLink="prime-ng" routerLinkActive="active" class="pointer">+ Prime NG</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->

<div class="card m-4">
    <div class="card-body px-lg-5 pt-0">
        <router-outlet></router-outlet>
    </div>
</div>