<!-- #region AG-GRID-->
<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="test-header">
                        Page Size:
                        <select (change)="onPageSizeChanged($event)">
                            <option value="10" selected="">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-2 float-right">
                        <button routerLink="new" class="btn btn-primary"><b>+ Add New</b></button>
                    </div>
                </div>
                <div class="col-md-12">
                    <ag-grid-angular #agGrid class="ag-theme-balham ag-grid-angular" [rowData]="rowData"
                        [frameworkComponents]="frameworkComponents" [pagination]="true" [floatingFilter]="true"
                        [animateRows]="true" [rowSelection]="rowSelection" (gridReady)="onGridReady($event)"
                        [pagination]="true" [paginationPageSize]="paginationPageSize" [columnDefs]="columnDefs"
                        [domLayout]="domLayout">
                    </ag-grid-angular>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->