################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EMS-Backend/.vs
/EMS-Backend/EMS-Backend/bin/Debug/netcoreapp2.2
/EMS-Backend/EMS-Backend/obj
/.vs
/EMS-Backend/EMS-Backend/EMS-Backend.csproj.user
