<!-- #region SIDEBAR-->
<nav class="side-navbar">
  <!-- #region SIDEBAR HEADER-->
  <div class="sidebar-header d-flex align-items-center">
    <div class="avatar"><img src="../../assets/img/Manan.jpg" alt="..." class="img-fluid rounded-circle"></div>
    <div class="title">
      <h1 class="h4">Manan Pandya</h1>
      <p>Sr. Web Developer</p>
    </div>
  </div>
  <!-- #endregion -->

  <!-- #region SIDEBAR NAVIGATION MENU-->
  <span class="heading">Main</span>
  <ul class="list-unstyled">
    <li routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}" class="pointer"
      (click)="onMenuClick('Dashboard')"><a routerLink=''><i class="icon-home"></i>Dashboard</a></li>
    <li routerLinkActive='active' class="pointer" (click)="onMenuClick('Employee')"><a routerLink='/employee'><i
          class="fa fa-user"></i>Employee</a></li>
    <li routerLinkActive='active' class="pointer" (click)="onMenuClick('Authentication')"><a routerLink='/auth'><i
          class="fa fa-key"></i>Authentication</a></li>
  </ul>
  <!-- #endregion -->

  <!-- #region EXTRA'S MENU-->
  <span class="heading">Extras</span>
  <ul class="list-unstyled">
    <li routerLinkActive='active' class="pointer">
      <a href="#documentDropdown" aria-expanded="false" data-toggle="collapse" class="collapsed"><i
          class="fa fa-file"></i>Document</a>
      <ul id="documentDropdown" class="list-unstyled collapse">
        <li routerLinkActive='active' (click)="onMenuClick('Document / Type1')"><a routerLink='/document/type1'>Type
            1</a></li>
        <li routerLinkActive='active' (click)="onMenuClick('Document / Type2')"><a routerLink='/document/type2'>Type
            2</a></li>
      </ul>
    </li>
    <li routerLinkActive='active' class="pointer" (click)="onMenuClick('Charts')"><a routerLink='charts'><i
          class="fa fa-bar-chart"></i>Charts</a></li>
  </ul>
  <!-- #endregion -->
</nav>
<!-- #endregion -->
