<!-- #region DELETE POP UP -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete Employee</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure to delete this employee?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss(false)">Cancel</button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close(true)" ngbAutofocus>Delete</button>
    </div>
</ng-template>
<!-- #endregion -->

<!-- #region ANGULAR DATATABLE-->
<div class="mt-3">
    <button routerLink="../new" class="btn btn-primary float-right mb-2">+ Add New</button>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="row-border hover table table-striped table-bordered ag-table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>DOB</th>
                <th>DOJ</th>
                <th>Department</th>
                <th>Designation</th>
                <th>Address</th>
                <th>State</th>
                <th>City</th>
                <th>Postcode</th>
                <th>Contact Number</th>
                <th>Gender</th>
                <th>Marital Status</th>
                <th>Blood Group</th>
                <th>Identity Type</th>
                <th>Identity Number</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employee; let rIndex = index;">
                <td>{{ emp.firstName }}</td>
                <td>{{ emp.lastName }}</td>
                <td>{{ emp.email }}</td>
                <td>{{ emp.dateOfBirth |  date:"dd-MM-yyyy" }}</td>
                <td>{{ emp.dateOfJoining |  date:"dd-MM-yyyy" }}</td>
                <td>{{ emp.department }}</td>
                <td>{{ emp.designation }}</td>
                <td>{{ emp.address }}</td>
                <td>{{ emp.state }}</td>
                <td>{{ emp.city }}</td>
                <td>{{ emp.postcode }}</td>
                <td>{{ emp.contactNumber }}</td>
                <td>{{ emp.gender }}</td>
                <td>{{ emp.maritalStatus }}</td>
                <td><img src="../../../../assets/img/blood_group/{{ emp.bloodGroup }}"></td>
                <td>{{ emp.identityType }}</td>
                <td>{{ emp.identityNumber }}</td>
                <td><a (click)="onEditClick(emp.employeeId)"><i class="fa fa-edit fa-lg icon_edit pointer"></i></a>
                </td>
                <td><a (click)="onDeleteClick(content,emp,rIndex)">
                        <i class="fa fa-trash fa-lg icon_delete pointer"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- #endregion -->