<div class="page" *ngIf="isLogin">
    <!-- Main Navbar-->
    <app-header></app-header>
    <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <app-sidebarmenu></app-sidebarmenu>
        <!-- Dashboard Counts Section -->
        <div class="content-inner">
            <app-page-header></app-page-header>
            <app-breadcrumb></app-breadcrumb>
            <!--Dashboard and Employee Component -->
            <router-outlet></router-outlet>
            <!-- Footer Component -->
            <app-footer></app-footer>
        </div>
    </div>
</div>
<!-- Log-In Component -->
<app-login *ngIf="!isLogin"></app-login>