<div class="page login-page">
    <div class="page-content d-flex align-items-stretch">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="info d-flex align-items-center">
                            <div class="content">
                                <div class="logo">
                                    <h1>EMS</h1>
                                </div>
                                <p>
                                    Welcome to Employee Management System. To manage the system, a valid EMS username &
                                    password are required.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 bg-white">
                        <div class="form d-flex align-items-center">
                            <div class="content">

                                <!-- Login-Form (Template-Driven approach) -->
                                <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
                                    <div class="form-group">
                                        <input id="login-username" type="text" name="username" class="input-material"
                                            #username="ngModel" ngModel required>
                                        <label for="login-username" class="label-material">User Name</label>
                                    </div>

                                    <!-- Dynamically show & hide password on mouse click event -->
                                    <div class="form-group eye">
                                        <input id="login-password" [type]="pwdType" name="password"
                                            class="input-material" #pwd="ngModel" ngModel required
                                            autocomplete="password">
                                        <span *ngIf="pwd.control.value != ''"
                                            [ngClass]="pwdType != 'password' ? 'fa fa-eye-slash pointer' : 'fa fa-eye pointer'"
                                            (mousedown)="onShowHidePassword()" (mouseup)="onShowHidePassword()"></span>
                                        <label for="login-password" class="label-material">Password</label>
                                    </div>

                                    <input type="submit" id="login" value="Login" class="btn btn-primary"
                                        [disabled]="!loginForm.valid"
                                        [ngStyle]="{'cursor': !loginForm.valid ? 'not-allowed' : 'pointer'}">

                                    <!-- Continue without login in EMS -->
                                    <a routerLink='' class="forgot-pass ml-2" (click)="onWithoutLogin()">
                                        Continue Without Login
                                    </a>
                                </form>

                                <!-- Social LogIn Buttons -->
                                <div>
                                    <!-- Login With Google - Button -->
                                    <button class="btn btn-primary"
                                        style="background-color:#C63D2D; border-color:#C63D2D;"
                                        (click)="onSocialLogin('google')"><i class="fa fa-google mr-1"
                                            aria-hidden="true"></i>
                                        Login with Google
                                    </button>

                                    <!-- Login With Facebook - Button -->
                                    <button class="ml-3 btn btn-primary"
                                        style="background-color:#385998; border-color:#385998;"
                                        (click)="onSocialLogin('facebook')"><i class="fa fa-facebook mr-2"
                                            aria-hidden="true"></i>
                                        Login with Facebook
                                    </button>
                                </div>

                                <a href="#" class="forgot-pass">Forgot Password?</a><br><small>Do not have an
                                    account? </small><a href="register.html" class="signup">Signup</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="copyrights text-center">
        <p>Design by <a href="https://bootstrapious.com/p/admin-template" class="external">Manan</a></p>
    </div>
</div>