/* You can add global styles to this file, and also import other style files */

.pointer { 
    cursor: pointer !important;
}

/* Detail Icon - Violet */
.detail-icon{
    color: #796AEE;
}

/* Edit Icon - Blue */
.edit-icon{
    color:blue;
}

/* Delete Icon - Red */
.delete-icon{
    color: red;
}